<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <%= render "shared/sidebar", active: 1 %>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <%= render "shared/navbar", title: 'Inbox' %>
      <!-- End of Topbar -->


      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <div class="align-items-center justify-content-between mb-4">
          <%= link_to '<i class="fas fa-plus fa-sm text-white-50"></i> Add task'.html_safe, 
          new_task_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-form-task', id: "btn_add_task", class: "d-none d-sm-inline-block btn
          btn-sm btn-primary shadow-sm"}%>
        </div>

        <!-- Content Row -->
        <div class="row">
          <!-- Pending Tasks Card -->
          <%= render "shared/card", title: 'Pending Tasks', value: @pending_tasks.count, icon: 'fas fa-list', color: 'primary' %>

          <!-- Completed Tasks Card -->
          <%= render "shared/card", title: 'Completed Tasks', value: @completed_tasks_count, icon: 'fas fa-check', color: 'success' %>

          <!-- Tasks For Today Card -->
          <%= render "shared/card", title: 'Tasks for today', value: @today_tasks_count, icon: 'fas fa-calendar-day', color: 'info' %>

          <!-- Pending Tasks Card -->
          <%= render "shared/card", title: 'Tasks for this week', value: @week_tasks_count, icon: 'fas fa-calendar-alt', color: 'warning' %>
        </div>


        <!-- List of all pending tasks-->
        <% @pending_tasks.each_with_index do |task, index| %>
        <%= render "tasks/task", task: task, index: index %>
        <% end %>
      </div>
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <%= render "shared/footer"%>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Task Form Modal -->
<div class="modal" id="modal-form-task" tabindex="-1" role="dialog" aria-labelledby="modalNewTaskTitle"
  aria-hidden="true">
</div>
