<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <%= render "shared/sidebar", active: 3 %>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <%= render "shared/navbar", title: 'This week' %>
      <!-- End of Topbar -->


      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->

        <!-- Content Row -->
        <div class="row">
          <!-- This Week Pending Tasks Card -->
          <%= render "shared/card", title: 'Pending Tasks', value: @week_tasks_pending, icon: 'fas fa-list', color: 'primary' %>

          <!-- This Week Completed Tasks Card -->
          <%= render "shared/card", title: 'Completed Tasks', value: @week_tasks_completed, icon: 'fas fa-check', color: 'success' %>
        </div>

        <!-- List of all pending tasks for this project -->
        <% @week_tasks.each_with_index do |day_tasks, day_index| %>
        <div class="row pl-3">
          <span class="navbar-brand mb-0"><%= (Date.today + day_index).strftime("%A, %B %d") %></span>
        </div>
        <% day_tasks.each_with_index do |task, task_index| %>
        <%= render "tasks/task", task: task, index: task_index %>
        <% end %>
        <% end %>

      </div>
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <%= render "shared/footer"%>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>