    <div class="mr-3">
        <div class="icon-circle <%= 'bg-primary' if notification.notification_type == 'invitation' %>  
                  <%= 'bg-success' if notification.notification_type  == 'task_completed'%>  
                  <%='bg-warning' if notification.notification_type  == 'new_task'%>  
                  %>">
            <i class="fas <%= 'fa-user-plus' if notification.notification_type == 'invitation' %>  
                <%= 'fa-check' if notification.notification_type == 'task_completed'%> 
                <%= 'fa-tasks' if notification.notification_type == 'new_task'%>
                text-white"></i>
        </div>
    </div>
    <div>
        <div class="small text-gray-500"><%= notification.created_at %></div>
        <span class="mb-2 <%= 'font-weight-bold' if notification.pending %>"><%= notification.text %></span>
    </div>